@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30%; 
    background-color: #c29591; 
    padding-top: 20px;
} 
nav > ul {
    display: flex;
    gap: 15px;
    list-style: none;
    text-decoration: none;
} 
a:hover {
    cursor: pointer;
    color: #b6c199;
} 
button {
    padding: 6px; 
    border: none;
    background-color: #b6c199; 
    border-radius: 3px;
    font-weight: bold;
} 
button:hover {
    cursor: pointer;
    background-color: #9ca77c; 
    transition: 0.5s smooth;
} 
.container {
    display: flex;
    gap: 40px;
    align-items: center;
}
.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px; 
    background-color: #c29591;
} 
.image {
    border: 2px solid black; 
    width: 40%;
    height: 50%; 
    display: flex;
    justify-content: center; 
    align-items: center;
} 
.content {
    border: 2px solid black;
    width: 40%;
    height: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
}